<!doctype html>
<html ng-app="http_example">
  <head>
      <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css"/>
    </head>
  <body>
    
      <form class="container">
          
      <div ng-controller="OrderDetails">
           <input type="button" value="sort" ng-click="ButtonClick()" />
     <br />
    <br />
    <span ng-bind="Message"></span>
          <table class="table table-bordered" ng-if="orders.length>0">
          <thead>
              <tr>
<th><button ng-click="OrdersFunction('OrderId')">OrderId</button></th>
<th><button ng-click="OrdersFunction('CustomarId')">CustomarId</button></th>
<th><button ng-click="OrdersFunction('EmployeeId')">EmployeeId</button></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="order in orders | orderBy:OrderID">
                  <td>{{order.OrderID}}</td>
                  <td>{{order.CustomerID}}</td>
                  <td>{{order.EmployeeID}}</td>
                          
                  </tr>
              </tbody>
          </table>
          </div>
      
      </form>
     <script src="angular/angular.js"></script>
        <script src="js/http_example.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
   
  </body>
</html>