<!doctype html>
<html ng-app="myApp">
  <head>
      <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css"/>
    </head>
  <body>
      <div ng-controller="SecondaryController">
      <label>Name:</label>
      <input type="text" ng-model="userName" placeholder="Enter a name here">
        {{userName}}
      </div>
      
    <div ng-controller="MainController">
      <label>Name:</label>
      <input type="text" ng-model="person.imageUrl" placeholder="Enter a name here">{{userName}}
        
        <div>First Name: {{person.FirstName}}</div>
        <div>Last Name: {{person.LastName}}</div>
      <img src="{{person.imageUrl}}"/>
      </div>
      
      
      
       
        <script src="js/angular.js"></script>  
        <script src="js/controller.js"></script>  
      
    </body>
</html>