<!doctype html>
<html ng-app="http">
    <head>
        <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css"/>
    </head>
    <body class="container">
        <div ng-controller="ordersDetails">
            <h3>Http1 Example</h3>
            <table class="table table-bordered" ng-if="orders.length>0">
                <thead>
                    <tr>
                <th><button  ng-click="myorderby('OrderID')" >OrderID</button></th>
                <th ><button  ng-click="myorderby('CustomerID')" >CustomerID</button></th>
                 <th><button  ng-click="myorderby('EmployeeID')">EmployeeID</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders | orderBy:myorderby:flag">
                        
        <td>{{order.OrderID}}</td>
        <td>{{order.CustomerID}}</td>
        <td>{{order.EmployeeID}}</td>
        </tr>
                </tbody>
            </table>
        </div>
        
        <script src="../../js/angular.js"></script>
        <script src="js/http1.js"></script>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>