.features-wrapper
{
    background-color: beige;
    padding-top: 5%;
    padding-bottom: 5%;
}

element.style {
    background-color: antiquewhite;
}
.about-wrapper.index-1 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-color: aqua;
}

.section-name.index-1 {
    text-align: center;
}

about-wrapper.index-1 .nav.nav-pills.tab-switcher {
    text-align: center;
    padding-top: 55px;
    position: relative;
    float: none;
    overflow: initial;
}
.about-wrapper.index-1 .nav.nav-pills.tab-switcher > li {
    float: none;
    display: inline-block;
    margin: 0 15px;
    background: none;
    text-align: center;
}

.about-wrapper.index-1 .nav.nav-pills.tab-switcher > li.active a {
    background: #ffffff;
    color: #ffa800;
}


.about-wrapper.index-1 .nav.nav-pills.tab-switcher > li a {
    display: block;
    padding: 0 0;
    height: 66px;
    width: 227px;
    background: none;
    border: 1px dashed #ffffff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius: 50%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 66px;
    color: #ffffff;
    transition: background 0.3s ease;
}

.about-wrapper.index-1 .tab-content #tab-1 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-wrapper.index-1 .tab-content #tab-1 p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

.about-wrapper.index-1 .tab-content #tab-2 {
    padding-top: 85px;
    
    
    

}
/*......right.....*/

    h1, h2, h3, h4, h5, h5, h6, p, a, ul, ol, span, q, blockquote, img {
    margin: 0 0;
    padding: 0 0;
}
.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.right img {
    border-radius: 30px;
}


.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.right {
    top: 50%;
    right: 0;
    margin: 0;
    z-index: 2;
    transform: translate(0, 0%) perspective(600px) rotateY(-30deg);
}
.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.right {
    transform: translate(0, -50%) perspective(600px) rotate-Y(45deg) translateY(-50%);
    opacity: 1;
    width: 400px;
    height: 210px;
}
 
/*.........box left........*/
h1, h2, h3, h4, h5, h5, h6, p, a, ul, ol, span, q, blockquote, img {
    margin: 0 0;
    padding: 0 0;
}
.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.left img{
    border-radius: 30px;
}
.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.left {
    top: 50%;
    left: 0;
    margin: 0;
    z-index: 2;
    transform: translate(0, 0%) perspective(600px) rotateY(30deg);
    
}

.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.carousel-box.left {
    opacity: 1;
    width: 400px;
    height: 210px;
}


/*..... Active image....*/


.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box.is-active {
    z-index: 4;
    width: 500px;
    height: 270px;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    margin: 0;
}


.about-wrapper.index-1 .tab-content #tab-1 .carousel .carousel-wrapper .carousel-box {
    border-radius: 30px;
    background-color: #CFCFCF;
    height: 124px;
    list-style: none;
    overflow: hidden;
    position: absolute;
    width: 200px;
    z-index: -1;
    box-shadow: 0 0 10px 4px rgba(44, 42, 41, 0.05);
    transition: 0.5s ease-out;
}
.about-wrapper.index-1 .tab-content #tab-1 {
    padding-bottem: 85px;
}

/*......tab 2 Contants.....*/


.about-wrapper.index-1 .tab-content #tab-2 {
    padding-top: 85px;
}

@media screen and (max-width: 1199px)
.about-wrapper.index-1 .tab-content .info-block {
    padding-bottom: 40px;
}

.about-wrapper.index-1 .tab-content #tab-2 .info-block p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

.about-wrapper.index-1 .tab-content #tab-2 .info-block ul {
    padding-top: 22px;
    display: block;
}

.about-wrapper.index-1 .tab-content #tab-2 .info-block ul li {
    padding: 12px 0;
}

.about-wrapper.index-1 .tab-content #tab-2 .info-block ul li i {
    float: left;
    line-height: 24px;
    padding-right: 16px;
    color: #ffffff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about-wrapper.index-1 .tab-content #tab-2 .info-block li > h5 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
}

@media screen and (max-width: 1199px)
.about-wrapper.index-1 .tab-content .info-block {
    padding-bottom: 40px;
}

@media screen and (max-width: 1199px)
 .about-wrapper.index-1.tab-content.tab-pane{
        padding-bottem: 80px;
}





/*........news......*/


news-wrapper.index-1 {
    background: url(../img/backgrounds/background-2.jpg) 45%;
    padding: 100px 0 85px;
}

.news-wrapper.index-1 .section-name.index-1 h1 {
    color: #ffffff;
}
.section-name.index-1 h1 {
    font-family: 'Lobster';
    padding-bottom: 21px;
    
}
h1 {
    font-size: 36px;
}
.news-wrapper.index-1 .section-name.index-1 p {
    color: #ffffff;
}
.section-name.index-1 p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 17px;
}
.news-wrapper.index-1 .section-name.index-1 .sep {
    background: url(/images/sep-double-white.png) center no-repeat;
}.section-name.index-1 .sep {
    width: 100%;
    height: 12px;
    
}
.news-wrapper.index-1 .news-boxes {
    padding-top: 76px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer {
    margin: 15px 0;
    display: block;
    width: 100%;
    border-radius: 12px;
    border: 1px dashed rgba(255, 255, 255, 0.25);
    padding: 8px;
    transition: all 0.3s ease;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner {
    overflow: auto;
    width: 100%;
    float: none;
    display: block;
    height: 100%;
    padding: 32px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background: #ffffff;
}

.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .image {
    background-color: #fff;
    z-index: 1;
    float: left;
    position: relative;
    overflow: hidden;
    width: 38.2%;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .image img {
    transition: all 2s ease;
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .image .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(0, 0);
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 12px;
    border-radius: 12px;
    }
.mask.index-1 {
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}
.mask.index-1 a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}
a, a:hover, a:focus, a:active {
    background: none;
    outline: 0;
    text-decoration: none;
    border: none;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block {
    position: relative;
    float: right;
    width: 57%;
    top: -4px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block h3 {
    font-family: 'Roboto';
    font-weight: 700;
    transition: all 0.3s ease;
}
h3 {
    font-size: 18px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer:hover .news-box-inner h3 {
    color: #ffa800;
}
.news-wrapper.index-1 .news-boxes .news-box-outer:hover .news-box-inner a.button {
    color: #ffa800;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block h5 {
    font-family: 'Roboto';
    font-weight: 700;
    color: rgba(51, 51, 51, 0.5);
    padding: 12px 0 15px;
}
h5 {
    font-size: 14px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block h5 i {
    color: #ffa800;
    margin-right: 5px;
    
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    }
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    line-height: 23px;
    padding-bottom: 4px;
}
.news-wrapper.index-1 .news-boxes .news-box-outer .news-box-inner .info-block a.button {
    float: right;
}
.button.button-special {
    font-family: 'Roboto';
    font-weight: 700;
    color: #333333;
    font-size: 14px;
    background: url(/images/sep-min-1.png) bottom no-repeat;
    padding-bottom: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
a, a:hover, a:focus, a:active {
    outline: 0;
    text-decoration: none;
    border: none;
}