<!doctype html>
<html ng-app="httpExample">

<head>
    <title>HTTP Example</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        
        th,
        td {
            padding: 5px;
        }
    </style>
</head>

<body>
    <div ng-controller="productsDataController">
        <h1> http call</h1>
        <h3 ng-bind="httpError"></h3>
        Search : <input type="text" ng-model="searchBy"/>
        Table is updated by {{searchBy}}...
        <table style="width:100%" ng-if="products.length  > 0 ">
            <tr>
                <th ng-click="sort('ProductName')">Product Name</th>
                <th ng-click="sort('UnitPrice')">Unit Price</th>
                <th ng-click="sort('QuantityPerUnit')">Quantity Per Unit</th>
            </tr>
            <tbody >
                <tr  ng-repeat="productData in products | filter:searchBy | orderBy:sortBy:orderBydescAsc ">
                    <td>{{productData.ProductName|uppercase}}</td>
                    <td>{{productData.UnitPrice |currency}}</td>
                    <td>{{productData.QuantityPerUnit}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../../js/angular.js"></script>
    <script src="js/http.js"></script>
</body>

</html>