<div class="panel panel-default">
    <div class="panel-body">
        <lable> project:</lable>
        <select ng-model="selectedProject">
        <option ng-repeat="project in projects"  value={{project}}>{{project.projname}}</option>
        </select>
        <button type="button"ng-click="genarate()" class="btn btn-primary">genarate</button>
        <div class="panel panel-default">
            <div class="panel-body">
                <style>
                    table {
                        border-collapse: collapse;
                        height: 25%;
                        width: 25%;
                    }
                    
                    th,
                    td {
                        padding: 1px;
                        text-align: left;
                        border-spacing: 1px solid #ddd;
                    }
                </style>


                <table>
                    <tr>
                        <th>Employee Name </th>
                        <th ng-repeat="tech in projectInfo.teamMembers[0].skillAnalysis">{{tech.techName}}</th>
                       
                    </tr>

                    <tr  ng-repeat="employee in projectInfo.teamMembers">
                        <td >{{employee.empName}}</td>
                        <td  ng-repeat="tech in employee.skillAnalysis">
                            <select name="select" ng-model="tech.skilllevel">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>

                   
                </table>
            </div>
        </div>

        <br>
        <br>
        <button class="btn" ng-click="saveSGA()" type="button">Save or update</button>
    </div>
</div>