<div class="panel panel-default">
    <div class="panel-body">
        <lable> Project:</lable>
    
        <select class="dropdown" ng-model="selectedProject">
            <option ng-repeat="project in projects"  value={{project}}>{{project.projname | uppercase}}</option>
        </select>
        <button type="button"ng-click="genarate()" class="btn btn-primary">Genarate</button>
        <div class="panel panel-default" ng-show="projectInfo">
            <div class="panel-body">


                <table class="table table-hover table-bordered table-responsive" >
                    <tr>
                        <th>Employee Name </th>
                        <th ng-repeat="tech in projectInfo.teamMembers[0].skillAnalysis">{{tech.techName | uppercase}}</th>

                    </tr>

                    <tr  ng-repeat="employee in projectInfo.teamMembers">
                        <td >{{employee.empName}}</td>
                        <td  ng-repeat="tech in employee.skillAnalysis">
                            <select name="select" ng-model="tech.skilllevel">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>


                </table>
            </div>
        <button class="btn" ng-click="saveSGA()" class="pull-right" type="button">Save or update</button>
        </div>

    </div>
</div>