<div class="panel panel-default">
    <div class="panel-body">
        <lable> project:</lable>
        <select>
            <option value="1">Selectedproject</option>
            <option value="2">Onlineshoping</option>
            <option value="2">Retailshoping</option>
        </select>
        <button type="button"ng-click="genarate()" class="btn btn-primary">genarate</button>
        <div class="panel panel-default">
            <div class="panel-body">
                <style>
                    table {
                        border-collapse: collapse;
                        height: 25%;
                        width: 25%;
                    }
                    
                    th,
                    td {
                        padding: 1px;
                        text-align: left;
                        border-spacing: 1px solid #ddd;
                    }
                </style>


                <h5>Results</h5>

                <table>
                    <tr>
                        <th>Employee Name </th>
                        <th>java 1.6</th>
                        <th>.Net 1.3</th>
                        <th>ANgularJs 1.3</th>
                    </tr>

                    <tr>
                        <td>Emp1</td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Emp2</td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Emp3</td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Emp4</td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                        <td>
                            <select name="select">
                                <option value="1">yes</option>
                                <option value="2">No</option>
                                <option value="3">NA</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
        <br>
        <button class="btn" ng-click="save()" type="button">Save or update</button>
    </div>
</div>