<h1>Welcome to {{user.userName}}</h1>
<div class="list-group">
    <a href="#/newEmployee" ng-if="user.desg==1" class="list-group-item">Add Employee</a>
    <a href="#/newTechnologie" ng-if="user.desg==1" class="list-group-item">Add Technologie</a>
    <a href="#/CreateProjectinformation" ng-if="user.desg==1" class="list-group-item">Create Project information</a>
    <a href="#/createSga" ng-if="user.desg==2" class="list-group-item">Create Skill gap analaysis</a>
    <a href="#sgaReport" class="list-group-item">Skill gap analysis report</a>
</div>