<div class="detailscls">
    <div class="panel panel-default">
        <div class="panel-body">
            <label>User Name:</label>
            <input type="text" class="unamecls" ng-model="uname" placeholder="User Name">
            <br>
            <label>Password:</label>
            <input type="password" ng-model="password" placeholder="*****">
            <br>
            <br>
            <span class="sendcls">
        <button class="btn" ng-click="login()" type="button">Login</button>
         <button class="btn" ng-click="reset()" type="button">Reset</button>
                                {{Message}}
          </span>
        </div>
    </div>
</div>