.section{
    layout="row" ;
    layout-align="center center";
}
.center {
    align:center;
    padding: 10px;
    width: 60%;
    border: 3px solid #73AD21;
    background-color: rgba(0, 150, 102, 0.53);

}
.box{
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}
.design{
height: 100px;
    width: 140px;
    overflow: auto;
    border: 4px solid yellowgreen;
    padding: 2%";
}
.homestyle{
    background-color:bisque;
}

