<div class="box">
 <label>EmpId:</label>
 <input type="text" ng-model="newEmployee.empId" placeholder="Employee Id">
 <br><br>
 <label>EmpName:</label>
 <input type="text" ng-model="newEmployee.empName" placeholder="Employee Name">
    <br><br>
<label>Experience:</label>
<input type="text" ng-model="newEmployee.experience" placeholder="Experience">
<br><br>
<label>Designation:</label>
 <select ng-model="newEmployee.desg">
    <option value="1">Manager</option>
    <option value="2">Team Lead</option>
    <option value="3">Developer</option>
 </select>

<br><br>
<label>DOB:</label>
<input type="date" ng-model="newEmployee.DOB"/>
 <br><br>
<label>DOJ:</label>
 <input type="date" ng-model="newEmployee.DOJ"/>
<br><br>
 <button class="btn" ng-click="createNewEmployee()" class="btn btn-primary">Submit</button>
 <button type="button" ng-click="reset()" class="btn btn-primary">Reset</button>
        {{newEmployee | json}}
</div>