<label>ProjectName:</label>
 <input type="text" ng-model="projname">
 <br><br>
<label>Manager:</label>
<select name="select manager">
   <option value="1">Manager1</option>
   <option value="2">Manager2</option>
</select>
<br><br>
<label>Team Lead:</label>
<select name="select lead">
   <option value="1">teamlead1</option>
   <option value="2">teamlead2</option>
</select>
<br><br>
<label>Team Members:</label>
<select name="select member">
   <option value="1">employee1</option>
   <option value="2">employee2</option>
   <option value="3">employee3</option>
   <option value="4">employee4</option>
</select>
<br><br>
<label>Technologies:</label>
<select name="select tech">
   <option value="1">Java 1.6</option>
   <option value="2">.Net 4.6</option>
   <option value="3">Oracle 10g</option>
   <option value="4">Java 1.7</option>
    <option value="4">AngularJs 1.8</option>
</select>
<br><br>
 <button class="btn" ng-click="submit()" type="button">Submit</button>
 <button class="btn" ng-click="reset()" type="button">Reset</button>