
<div class="box">
<label>Project Name:</label>
 <input type="text" ng-model="newProject.name" placeholder="Project name">
 <br><br>
<label>Manager:</label>
 <select ng-model="newProject.manager">
 <option value="">-Select Manager-</option>
<option ng-repeat="employee in employees" value={{employee.empName}} 
    ng-if="employee.desg=='1'">{{employee.empName}}</option>
 </select>
<br><br>
<label>Team Lead:</label>
<select ng-model="newProject.teamlead">
<option value="">-Select TL-</option>
<option ng-repeat="employee in employees" value={{employee.empName}} 
    ng-if="employee.desg=='2'">{{employee.empName}}</option>
</select>
<br><br>
<label>Team Members:</label>
<select multiple ng-model="newProject.teamMembers">
<option ng-repeat="employee in employees" value={{employee}} 
    ng-if="employee.desg=='3'">{{employee.empName}}</option>
</select>
<br><br>
<label>Technologies:</label>
<select multiple ng-model="newProject.technologies">
<option ng-repeat="tech in technologies" value={{tech}}>{{tech.name}}</option>
</select>
<br><br>
  <button type="button" ng-click="createNewProject()" class="btn btn-primary">Submit</button>
        <button type="button" ng-click="reset()" class="btn btn-primary">Reset</button>
        {{newProject | json}}
</div>
    