        <div> class="links">
            <div class="box">
         <h3> Home Page</h3>
         <a href="#/newEmploye">add employees</a>
         <br>
         <br>
         <a href="#/newTechnology">add technologies</a>
         <br>
         <br>
         <a href="#/newProject">create project information</a>
         <br>
         <br>
         <a href="#/newSga">create skill gap analysis</a>
         <br>
         <br>
         <a href="#">skill gap analysis report</a>
         </div>
            </div>





















         