   
<div class="details">
     <div class="panel panel-default">
     <div class="panel-body">
       <div class="box">
            <h3>Login-Form</h3>  
            <br>
                <label>Username:</label>
                <input type="text" ng-model="uname" placeholder="username">
                <br><br>
                <label>Password:</label>
                <input type="password" ng-model="pwd" 
                       placeholder=".........">
                <br><br>
        <button class="btn" ng-click="login()" type="button">Login</button>
        <button class="btn" ng-click="reset()" type="button">Reset</button>
         </div>
         </div>
    </div>
</div>