<div class="box">
<label>Project:</label>
<select name="project-name">
    <option value="1">select project</option>
   <option value="2">Online Shopping</option>
   <option value="3">Retail Marketing</option>
</select>
<br><br>

<button class="btn" ng-click="generate()" type="button">generate</button>

<style>
table {
    border-collapse: collapse;
    height: 25%;
    width:25%;
}

th, td {
    padding: 1px;
    text-align: left;
    border-spacing: 1px solid #ddd;
}
</style>


<h2>Results:</h2>

<table>
  <tr>
    <th>Employee Name</th>
    <th>java 1.6</th>
    <th>.Net 1.3</th>
    <th>ANgularJs 1.3</th>
  </tr>
    
  <tr>
  <td>Emp1</td>
  <td>
<select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select>
</td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>  
</select></td>
  </tr>

   <tr> 
    <td>Emp2</td>
    <td>
<select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select>
</td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
  </tr>
    
    <tr>
    <td>Emp3</td>
    <td>
<select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select>
</td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
  </tr>
    
    <tr>
    <td>Emp4</td>
    <td>
<select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select>
</td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
<td><select name="select">
<option value="1">yes</option>
<option value="2">No</option>
<option value="3">NA</option>
</select></td>
</tr>
</table>
<br><br>
<button class="btn" ng-click="save()" type="button">Save</button>
<button class="btn" ng-click="update()" type="button">Update</button>

</div>



